<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
	<link href="/public/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>

	<%- include ('blocks/header.ejs'); -%>

	<h1>Home Page</h1>
 
	

</body>
</html>