<h2>Create todo</h2>

<form action="/create" method="POST">
	<div class="input-field">
		<input type="text" name="title">
		<label>Todo title</label>
	</div>

	<button type="submit" class="btn">Create</button>
</form>
