<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
	<div class="container">
		<nav>
			<img src="/images/4_ava.png" class="userPic">
			<div class="userDetails">
				<h1>Bob</h1>
				<h1>Stone</h1>
				<span>Programmer</span>
			</div>
			<div class="home">
				<h2>Laravel</h2>
			</div>
			<div class="contact">
				<h2>Javascript</h2>
			</div>
			<div class="projects">
				<h2>Node js</h2>
			</div>
		</nav>
	</div>

</body>
</html>