.todo {
	margin-bottom: 1rem;
	display: inline;
}

.todo span.completed {
	text-decoration: line-through;
}

.todo label {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	cursor: pointer;
	background: #f3f3f3;
	padding: 1rem;
}

.display_item {
	width: 100%;
	position: relative;
}

.display_item form button {
	position: absolute;
	right: 10px;
}

.todo i {
	z-index: 2;
}