{{ define "create" }}

{{ template "header" }}

<main>

<h1>Add an article</h1>


<form action="/save_article" method="POST">
    <div class="mb-3">
      <label for="titleInput" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" id="titleInput" placeholder="Title">
    </div>
    <div class="mb-3">
      <label for="anonsInput" class="form-label">Anons</label>
      <input type="text" name="anons" class="form-control" id="anonsInput" rows="3">
    </div>
    <div class="mb-3">
      <label for="descriptionInput" class="form-label">Description</label>
      <textarea name="full_text" class="form-control" id="descriptionInput" rows="3"></textarea>
    </div>
    <button class="btn btn-warning">Submit</button>
</form>



</main>


{{ template "header" }}
{{ end }}

 